body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #1c1c1c;
  background-image: url('https://narutodle.net/Background.webp');
  background-size: cover;
  background-position-y: -140px;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.suggestions {
  list-style: none;
  padding: 0;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestions li {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  color: #282c34;
}

.suggestions li:hover {
  background-color: #e0e0e0;
}

.essais-container {
  margin: 0 auto; /* Centrer horizontalement */
  max-width: 800px; /* Définir une largeur maximale pour le conteneur */
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse; /* Ajouter cette ligne pour réduire l'espace entre les cellules */
}

.row {
  display: table-row;
}

.row div {
  display: table-cell;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd; /* Ajouter des bordures pour chaque cellule */
  word-wrap: break-word; /* Permet de couper les mots */
  white-space: normal; /* Permet de faire du wrap sur les mots longs */
  font-size: 12px; /* Réduire la taille de la police */
}

.header div {
  font-weight: bold;
  background-color: #f2f2f2;
}

.green {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.orange {
  background-color: orange;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.red {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.img-cell {
  padding: 0; /* Enlever le padding pour l'image */
  width: 50px; /* Assurez-vous que la largeur de la cellule correspond à la taille de l'image */
  height: 50px; /* Assurez-vous que la hauteur de la cellule correspond à la taille de l'image */
}

.img-cell img {
  width: 100%; /* Assurez-vous que l'image prend toute la largeur de la cellule */
  height: 100%; /* Assurez-vous que l'image prend toute la hauteur de la cellule */
  object-fit: cover; /* Garder l'image bien ajustée dans la cellule */
}
